.centers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: 370px;
  grid-template-rows: 450px 100px;
  grid-template-areas: "text" "stats";
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  transition: 0.5s ease;
  margin: 30px;
}
.card-image {
  grid-area: image;
}
.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats;
}
.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 9px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 18px;
  font-weight: bolder;
}
.card-text p {
  color: grey;
  font-size: 18px;
  margin-top: 3px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 21px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  padding: 10px;
}
.card:hover {
  transform: scale(1.08);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.available {
  background-color: #2ec76f70;
}
.unavailable {
  background-color: #e6141440;
}

@media only screen and (max-width: 410px) {
  .card {
    grid-template-columns: 320px;
    grid-template-rows: 510px 90px;
  }
}

.filters-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
